[user]
	email = aldrinjenson@gmail.com
	name = Aldrin Jenson
[init]
	defaultBranch = main
[color]
	ui = auto
; The global gitignore file
[core]
	excludesFile = ~/.globalGitIgnore
[pull]
	rebase = true
[http]
	postBuffer = 157286400
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[safe]
	directory = /mnt/5E7AFBC51EC255F2/Code/anomalyDetect
	directory = /mnt/5E7AFBC51EC255F2/Code/work/webapp
	directory = /mnt/5E7AFBC51EC255F2/Code/projects/url-shortener
	directory = /mnt/5E7AFBC51EC255F2/Code/
	directory = /mnt/5E7AFBC51EC255F2/Code/my-blog
	directory = /mnt/5E7AFBC51EC255F2/Code/memoria/memoria-backend
	directory = /mnt/5E7AFBC51EC255F2/Code/memoria/memoria-flutter
	directory = /mnt/5E7AFBC51EC255F2/Code/memoria/memoria-flutter
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/iedc-blog
	directory = /mnt/5E7AFBC51EC255F2/Code/work/spelling-bee
	directory = /mnt/5E7AFBC51EC255F2/Code/workspace/masterscript-lang
	directory = /mnt/5E7AFBC51EC255F2/Code/workspace/masterscript-syntax-highlight
	directory = /mnt/5E7AFBC51EC255F2/Code/workspace
	directory = /mnt/5E7AFBC51EC255F2/Code/workspace/masterscript-dev
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/temp/Technohack-web-2023
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/Technohack-web-2023
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/technopreneur23
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/technopreneur-2023
	directory = /mnt/5E7AFBC51EC255F2/Code/temp/happy-birthday
	directory = /mnt/5E7AFBC51EC255F2/Code/projects/simple-stream
	directory = /mnt/5E7AFBC51EC255F2/Code/projects/temp/simple-stream
	directory = /mnt/5E7AFBC51EC255F2/Code/projects/anomalyDetect
	directory = /mnt/5E7AFBC51EC255F2/Code/work/excel/spelling-bee-play
	directory = /mnt/5E7AFBC51EC255F2/Code/learn/python/flasktut
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/lambda-functions
	directory = /mnt/5E7AFBC51EC255F2/Code/learn/flasktut
	directory = /mnt/5E7AFBC51EC255F2/Code/projects/temp/flask-lib-management
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/techno-qr-system
	directory = /mnt/5E7AFBC51EC255F2/Code/temp/lambdas
	directory = /mnt/5E7AFBC51EC255F2/Code/temp/AwesomeProject
	directory = /mnt/5E7AFBC51EC255F2/Code/temp/simplestream2
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/th-participant-management
	directory = /mnt/5E7AFBC51EC255F2/Code/temp/my-app
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/techno-participants-connect
