[user]
	email = aldrinjenson@gmail.com
	name = Aldrin Jenson
[init]
	defaultBranch = main
[color]
	ui = auto
; The global gitignore file
[core]
	excludesFile = ~/.globalGitIgnore
[pull]
	rebase = true
[http]
	postBuffer = 157286400
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[safe]
	directory = /mnt/5E7AFBC51EC255F2/Code/anomalyDetect
	directory = /mnt/5E7AFBC51EC255F2/Code/work/webapp
	directory = /mnt/5E7AFBC51EC255F2/Code/projects/url-shortener
	directory = /mnt/5E7AFBC51EC255F2/Code/
	directory = /mnt/5E7AFBC51EC255F2/Code/my-blog
	directory = /mnt/5E7AFBC51EC255F2/Code/memoria/memoria-backend
	directory = /mnt/5E7AFBC51EC255F2/Code/memoria/memoria-flutter
	directory = /mnt/5E7AFBC51EC255F2/Code/memoria/memoria-flutter
	directory = /mnt/5E7AFBC51EC255F2/Code/work/iedc/iedc-blog
